/* #region reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion */

@import url('https://use.typekit.net/quj2ido.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$size-100: 0.3125rem;
$size-200: 0.625rem;
$size-300: 1rem;
$size-400: 1.5rem;
$size-500: 2rem;
$size-600: 4rem;
$size-700: 6.5rem;
$size-800: 10rem;

$color-default: #222222;
$color-accent: #21c998;
$color-accent-darken: darken($color-accent, 10);
$color-selected: #8dc2ed;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$ff-paragraph: muli, sans-serif;
$ff-title: 'Montserrat', sans-serif;

.color-default {
  color: $color-default;
}
.color-accent {
  color: $color-accent;
}
.color-selected {
  color: $color-selected;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.ff-paragraph {
  font-family: $ff-paragraph;
}
.ff-title {
  font-family: $ff-title;
}

@mixin font-size($fs-small, $fs-medium, $fs-regular, $fs-large, $fs-larger) {
  .fs-paragraph {
    font-size: $fs-small;
  }
  .fs-sub-title {
    font-size: $fs-medium;
  }
  .fs-page-title {
    font-size: $fs-regular;
  }
  .fs-section-title {
    font-size: $fs-large;
  }
  .fs-hero-title {
    font-size: $fs-larger;
  }
}

@media (max-width: 25em) {
  @include font-size(1rem, 1.5rem, 1.875rem, 2.5rem, 2rem);
}

@media (max-width: 50em) {
  @include font-size(1.25rem, 1.5rem, 1.875rem, 2.5rem, 2.5rem);
}

@media (min-width: 50em) {
  @include font-size(1.25rem, 1.5rem, 1.875rem, 2.5rem, 3rem);
}

.section-title {
  display: inline-block;
  position: relative;
  @extend .fs-section-title;
  @extend .fw-semi-bold;
  @extend .ff-paragraph;
  @extend .color-default;
}

.section-title::before {
  z-index: -10;
  content: '';
  position: absolute;
  width: 98%;
  height: 0;
  bottom: 12px;
  left: 5%;
  border-bottom: 15px solid $color-accent;
}

.sub-title {
  @extend .fs-sub-title;
  @extend .fw-bold;
  @extend .ff-paragraph;
  @extend .color-default;
}

.paragraph {
  @extend .fs-paragraph;
  @extend .fw-regular;
  @extend .ff-paragraph;
  @extend .color-default;
}

.hero-title {
  @extend .fs-hero-title;
  @extend .fw-semi-bold;
  @extend .ff-title;
  @extend .color-default;
}

.even-columns {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 3px solid $color-accent;
  border-radius: $size-800;
  background-color: $color-accent;
  cursor: pointer;
  &:hover {
    background-color: $color-accent-darken;
    border: 3px solid $color-accent-darken;
  }
  a {
    @extend .center;
    @extend .paragraph;
    gap: $size-200;
    font-weight: $fw-bold;
    color: white;
    width: 120px;
    height: 40px;
    &:hover {
      color: white;
    }
  }
}

.button[data-inverted] {
  border: 3px solid $color-default;
  background-color: white;
  &:hover {
    background-color: $color-default;
  }
  a {
    color: $color-default;
  }
  a:hover {
    color: white;
  }
}

.container {
  $padding: 80px;
  $max-width: 1000px;

  width: min($max-width, 100% - $padding);
  margin-inline: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $color-default;

  &:hover {
    color: lighten($color: $color-default, $amount: 20);
  }
}

span {
  color: $color-accent-darken;
}

ul {
  list-style: none;
}

nav {
  height: auto;
  width: 100%;
  padding-top: $size-300;
  text-align: center;
}

.nav-list[data-hidden='hidden'] {
  display: none;
}

.nav-list {
  position: absolute;
  width: 100%;
  background-color: white;
  padding-block: $size-200;
  :not(:last-child) {
    margin-bottom: $size-400;
  }
  @media (min-width: 50em) {
    padding-block: 0;
    padding-top: $size-200;
  }
  @extend .fs-paragraph;
  font-weight: $fw-bold;
  font-family: $ff-paragraph;
  a {
    text-decoration: underline 5px $color-accent;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    &:hover {
      text-decoration-color: $color-accent-darken;
      text-decoration-style: double;
      text-decoration-thickness: 3px;
    }
  }
}

.hamburger-menu {
  cursor: pointer;
  color: $color-default;
  right: 2rem;
  top: $size-300;
  position: absolute;
}

@media (min-width: 50em) {
  .nav-list {
    display: flex !important;
    position: relative;
    justify-content: space-evenly;
  }

  .hamburger-menu {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @media (max-width: 50em) {
    height: 95vh;
  }

  img {
    max-height: 400px;
    width: 100%;
  }
  padding-inline: $size-300;
  text-align: center;
}

.about > .section-title {
  margin-bottom: $size-200;
}

.about-grid {
  display: grid;
  margin-bottom: $size-500;
  img {
    justify-self: center;
    margin-bottom: $size-500;
    border-radius: 25px;
  }

  @media (min-width: 50em) {
    img {
      justify-self: flex-start;
    }

    margin-bottom: $size-600;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: $size-500;
  }
}

.skills {
  margin-bottom: $size-500;
  @media (min-width: 50em) {
    margin-bottom: $size-600;
  }
}

.skills-card {
  display: flex;
  gap: $size-200;
  padding-block: $size-300;

  @media (min-width: 50em) {
    gap: $size-400;
  }

  .skill {
    @extend .center;
    flex-direction: column;
    img {
      width: 35px;
      height: 35px;
      @media (min-width: 30em) {
        width: 70px;
        height: 70px;
      }
    }
    p {
      font-size: 18px;
    }
  }
}

.project {
  display: grid;
  gap: $size-600;
  &:not(:last-child) {
    margin-bottom: $size-600;
    @media (min-width: 50em) {
      margin-bottom: $size-700;
    }
  }
  img {
    width: 450px;
  }

  @media (min-width: 60em) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: $size-400;
    &:not(:last-child) {
      margin-bottom: $size-700;
    }
  }
}

.project-title {
  @extend .ff-title;
  color: $color-default;
  font-size: 64px;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: $size-200;

  .project-skill {
    @extend .center;
    border-radius: $size-200;
    padding: $size-100 $size-200;
    color: $color-default;
    border: 2px solid $color-accent-darken;
    gap: $size-200;
  }
}

.project-info {
  max-width: 600px;
  & > *:not(:last-child) {
    margin-bottom: $size-300;
  }
}

.project {
  margin-bottom: $size-600;
}

.contact-flex {
  display: grid;
  gap: $size-600;

  @media (min-width: 50em) {
    gap: 0;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    & > * {
      padding-inline: 0;
    }
  }
  h1 {
    margin-bottom: $size-100;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: $size-400;

    & > :is(input, textarea):is(:focus-visible) {
      border: 2px solid $color-selected;
    }

    input,
    textarea {
      padding-left: $size-200;
      height: 60px;
      border: 0;
      border-bottom: 2px solid $color-accent;
      border-right: 2px solid $color-accent;
      outline: 0;
    }

    textarea {
      resize: none;
      height: 100px !important;
    }

    button {
      color: white;
      width: 150px;
      height: 45px;
    }
  }
}

.contact-socials {
  @extend .center;
  .sub-title {
    font-size: 21px;
  }
  flex-direction: column;
  .center {
    margin-top: $size-300;
    gap: $size-400;
  }
}

.contact {
  padding-bottom: $size-600;
}
